/* Generic Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Generic Styles End */

.wrapper {
  background-color: white;
  width: 430px;
  height: auto; /* Adjust height automatically */
  margin: 100px auto;
  border-radius: 10px;
  text-align: center;
  padding: 10px; /* Reduced padding to make space for the image */
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.office-image {
  width: 100%;
  border-radius: 5px; /* Add some rounded corners to match the container */
  margin-bottom: 20px; /* Space between image and heading */
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #000; /* Deep black color */
  font-weight: bold; /* Bold text */
}

.description {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #666;
  font-weight: bold; /* Bold text to highlight */
}

.link {
  display: block;
  text-decoration: none;
  margin-top: 15px;
  padding: 12px 16px;
  border-radius: 5px;
  width: 80%; /* Width adjustment for better fit */
  margin-left: auto; /* Center align */
  margin-right: auto; /* Center align */
}

.login-link {
  background-color: #000;
  color: white;
}

.signup-link {
  color: #000;
  border: solid 1px #000;
}
